<nav class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-center">

    <a class="navbar-brand main-heading" href="{% url '' %}"> 
      
      &nbsp; Simple CRM
    
    </a>

    <!-- Responsive navigation bar (collapse, if on smartphone) -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">

      <span class="navbar-toggler-icon"></span>
  
    </button>

      <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">
        
        <ul class="navbar-nav mr-auto">
  
          &nbsp;     &nbsp;     &nbsp; 
  
          <!-- Appears when user is logged in -->
          {% if user.is_authenticated %}

            <li class="nav-link text-light">
              <i class="fa fa-user-o" aria-hidden="true"></i>
              &nbsp; Přihlášený uživatel: {{user}}
            </li>
  
            &nbsp;     &nbsp;     &nbsp; 

            <li class="nav-item">
              
              <a class="nav-link" href="{% url 'dashboard' %}">
                Hlavní stránka &nbsp; 
                <i class="fa fa-home" aria-hidden="true"></i> </a>
            </li>
  
            &nbsp;     &nbsp;     &nbsp; 
  
            <li class="nav-item">
  
              <a class="nav-link" href="{% url 'user-logout' %}"> 
                Odhlásit &nbsp; 
                <i class="fa fa-sign-out" aria-hidden="true"></i> 
              </a>
  
            </li>

        </ul>
        
        <!-- Appears when no one is logged in -->
        {% else %}
  
        <li class="nav-item">
  
          <a class="nav-link" href="{% url 'register' %}"> Zaregistrovat </a>
  
        </li>
  
        &nbsp;     &nbsp;     &nbsp; 

        <li class="nav-item">
  
          <a class="nav-link" href="{% url 'my-login' %}">
            Přihlásit
          </a>
  
        </li>

        {% endif %}
      
      </div>
  
  </nav>